<ul class="menu menu-icons">
    <li class="menu-item menu-item-icon"><i class="icon far fa-users"></i></li>
</ul>
<ul class="menu menu-full">
    <li class="menu-item">
        <a href="{{ path('user.findAll') }}">
            <i class="icon far fa-users"></i>
            <span>User list</span>
        </a>
    </li>
</ul>